* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    padding: 20px 0;
}

.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.characters-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.character-wrapper {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.character-img {
    width: 100%;
    border-radius: 5px;
}

.character-name {
    font-weight: 700;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Modal */
.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.modal-visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    width: 30%;
    height: 70%;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.modal-character-img {
    width: 90%;
    border-radius: 10px;
}
